<section class="main">
  <h1 class="main__title">Let's draw?</h1>
  <div class="canvas-main">
    <div>
      <select class="select" (click)="getColor($event)">
        <option value="black" >Choose color</option>
        <option value="red" >Red</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="blue">Blue</option>
        <option value="orange">Orange</option>
      </select>
      <select class="select" (click)="getSize($event)">
        <option value="5" >Choose size (default: 5px)</option>
        <option value="8" >8 px</option>
        <option value="12">12 px</option>
        <option value="15">15 px</option>
        <option value="20">20 px</option>
        <option value="25">25 px</option>
      </select>
    </div>
    <canvas class="canvas-main__canvas" #canvas (click)="onCanvasClick($event)" width="700px" height="700px"></canvas>
  </div>
</section>
