*
  padding: 0
  margin: 0!important
  box-sizing: border-box

body, html
  height: 100%
  background: linear-gradient(180deg, rgba(7,7,7,0.24413515406162467) 0%, rgba(0,219,250,0.742734593837535) 52%, rgba(48,48,48,1) 100%, rgba(0,0,0,1) 100%)

.main
  text-align: center
  padding: 20px 15px 0
  text-shadow: 3px 5px 7px black

.main__title
  font-size: 50px
  font-weight: bold
  font-style: italic
  letter-spacing: 1px
  color: white


.canvas-main
  display: block
  padding: 20px
  width: 1200px
  margin: 50px auto!important
  background:  linear-gradient(180deg, rgba(7,7,7,0.24413515406162467) 0%, rgba(0,47,250,0.742734593837535) 0%, rgba(48,48,48,1) 71%, rgba(0,0,0,1) 97%)
  border-radius: 20px
  border: 2px solid white

.canvas-main__canvas
  background: white

.select
  display: inline-block
  font-size: 18px
  font-weight: bold
  padding: 10px 50px
  border-radius: 3px
  margin: 10px !important
  background: white

